\#*
*~
modep_commands.txt
Instruments/*
*/Cargo.lock
*/target/
RustStuff/lpx_programmers_mode/target/
RustStuff/lpx_programmers_mode/Cargo.lock
lpx_programmers_mode
RustStuff/lpx_controll/Cargo.lock
RustStuff/lpx_controll/target/
lpx_colour
lpx_controll
lpx_mode
rust_tools/lpx_colour/Cargo.lock
rust_tools/lpx_colour/target/
rust_tools/lpx_control/target/
rust_tools/midi_connection/Cargo.lock
rust_tools/lpx_control/Cargo.lock
rust_tools/midi_connection/target/
