\#*
*~
modep_commands.txt
*/Cargo.lock
*/target/
RustStuff/lpx_programmers_mode/target/
RustStuff/lpx_programmers_mode/Cargo.lock
lpx_programmers_mode
RustStuff/lpx_controll/Cargo.lock
RustStuff/lpx_controll/target/
lpx_colour
lpx_controll
lpx_mode
rust_tools/lpx_colour/Cargo.lock
rust_tools/lpx_colour/target/
rust_tools/lpx_control/target/
rust_tools/midi_connection/Cargo.lock
rust_tools/lpx_control/Cargo.lock
rust_tools/midi_connection/target/
Documents/MIDI 1.0 Control Change Messages_files/
rust_tools/lpx_control/src/
rust_tools/lpx_120_proof/
lpx_manager
lpx_pentatonic
novation_lpx/lpx_control/Cargo.lock
novation_lpx/lpx_manager/zzz
novation_lpx/midi_connection/Cargo.lock
*~
*.log
bin/mod-host.pid
get_git_token
.gitignore
output/
TAGS
eTAGS
bin/lpx*
pedal/PEDALS/A
pedal/PEDALS/B
pedal/PEDALS/C
pedal/PEDALS/.driver.pid
bin/120Proofpd
pedal/120Proofpd
*/.gdb_history
pedal/PEDALS/.PEDAL
pedal/PEDALS/*
control
etags_cmd
Device_Map.txt
bin/test_ms.pl
pedal/PEDALS/*
bin/test_*
Cargo.lock
.gdb_history
target
120ProofPedal
Instruments/GuitarEffects1/
# Instruments/Song01/_Inline/
Instruments/Song01/data/
Instruments/Song01/log.txt
Instruments/Song01/patches/
Instruments/Song01/samples/
*/_Inline
_Inline
bin/120ProofPd
bin/commands
bin/jackrec_qzt
bin/jackt_qzt
.compositions/
*.h2song
*.raw
